body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: red;
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

/* Styles pour le composant Main */
.main-content {
  margin-top: 20px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
  padding: 20px;
  background-color: #f5f5dc; /* Blanc cassé */
}
