.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  .navbar__menu {
    list-style-type: none; /* Supprimer les puces des listes */
    margin: 0; /* Supprimer la marge par défaut */
    padding: 0; /* Supprimer le remplissage par défaut */
    display: flex; /* Utiliser flexbox pour les menus */
  }
  
  .navbar__menu li {
    margin-left: 20px; /* Ajouter un espacement entre les éléments du menu */
  }
  
  .navbar__menu li:first-child {
    margin-left: 0; /* Supprimer la marge du premier élément du menu */
  }

  .log{
    background-color: lightcoral;
  }
  