.main-content {
    margin-top: 80px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
    padding: 20px;
    background-color: #f5f5dc; /* Blanc cassé */
  }

.logo {
    width: 200px;
    height: 200px;
}